.filter {
  width: 100%;
}

.filter-web {
  display: none;
}
@media (min-width: 480px) {
  .filter-web {
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin-bottom: 1rem;
    padding: 1.75rem 1rem 1.75rem 1rem;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #fafafa;
  }
}
.filter-web .btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  width: 100px;
  padding: 0.25rem;
  border: 1px solid black;
  border-radius: 2px;
  color: black;
  background-color: #f3f3f3;
}
.filter-web .btn:hover {
  color: white;
  background-color: #D2B85A;
}
.filter-web .btn i {
  margin-left: 1rem;
}
.filter-web__dropdown {
  position: absolute;
  top: 40px;
  left: 1rem;
  z-index: 3;
  display: flex;
  flex-direction: column;
  width: 250px;
  min-height: fit-content;
  padding: 0.5rem;
  margin-top: 0.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  background-color: white;
}
.filter-web__form {
  display: flex;
  flex-direction: column;
}
.filter-web__form legend {
  font-size: 1.2rem;
  font-weight: 500;
}
.filter-web__form .apply-btn {
  align-self: center;
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.25rem 0 0.25rem 0;
  border: 1px solid black;
  border-radius: 2px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  background-color: #D2B85A;
}
.filter-web__form .apply-btn:hover {
  transition-duration: 100ms;
  background-color: #FBC901;
}

.filter-mobile__btn {
  position: fixed;
  z-index: 6;
  bottom: 2rem;
  right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: #D2B85A;
  opacity: 90%;
}
.filter-mobile__btn i {
  color: white;
  font-size: 2rem;
  text-shadow: 0 0 1px black;
}
@media (min-width: 480px) {
  .filter-mobile__btn {
    display: none;
  }
}
.filter-mobile__modal {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.99);
  color: white;
}
.filter-mobile__title {
  font-size: 36px;
}
.filter-mobile__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
}
.filter-mobile__form .types-fieldset {
  padding: 1rem;
  margin-bottom: 1rem;
}
.filter-mobile__form .types-fieldset legend {
  font-size: 30px;
  font-weight: 500;
}
.filter-mobile__form .types-fieldset .checkbox-option {
  font-size: 24px;
  margin-bottom: 0.25rem;
}
.filter-mobile__form .submit-btn {
  align-self: center;
  padding: 0.25rem;
  border: 1px solid white;
  color: black;
  background-color: white;
  outline: white solid;
  font-size: 20px;
}
.filter-mobile__form .submit-btn:active {
  transition: outline-offset 75ms ease-out;
}
.filter-mobile__form .submit-btn:not(:active) {
  outline-offset: 0.25rem;
}

/*# sourceMappingURL=filter.css.map */
