.reviews__container {
  width: 100%;
  padding: 1em;
  border-radius: 15px;
  background-color: #F5F5F5;
  box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, 0.25);
}
.reviews__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.reviews__header__title {
  font-size: 1.75rem;
  margin-right: 2rem;
}
.reviews__header__add-btn {
  margin: 0.1rem 0.1rem 0.1rem 0.1rem;
  width: fit-content;
  background-color: #D2B85A;
  color: white;
  box-shadow: 0 0 1px black;
  border: solid white 1px;
  border-radius: 10px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 1rem;
  font-weight: 500;
}

.review-card {
  border-bottom: 1px solid #D2B85A;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.review-card:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}
.review-card__header {
  display: flex;
  justify-content: space-between;
}
.review-card__edit-btn {
  width: fit-content;
  margin: 0.1rem 0.1rem 0.1rem 0.1rem;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  border: solid white 1px;
  border-radius: 10px;
  background-color: grey;
  color: white;
  box-shadow: 0 0 1px black;
  font-size: 0.75rem;
  font-weight: 500;
}
.review-card__edit-btn:hover {
  background-color: darkgrey;
  scale: 1.01;
}
.review-card__rating__stars {
  margin-left: 1rem;
}

.review-modal {
  position: fixed;
  z-index: 7;
  height: 100%;
  width: 100%;
}
.review-modal__container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 90%;
  height: fit-content;
  padding: 1rem;
  margin: auto;
  background-color: white;
  border: 2px solid grey;
  border-radius: 15px;
  text-align: center;
}
@media (min-width: 720px) {
  .review-modal__container {
    max-width: 700px;
  }
}
.review-modal__title {
  margin-bottom: 1rem;
}
.review-modal__tint {
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.review-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.review-form__rating {
  margin-bottom: 1rem;
}
.review-form__rating span.star-rating {
  margin-right: 0.25rem;
}
.review-form__rating span.star-rating label {
  font-size: 0.75rem;
  margin-left: 0.25rem;
}
.review-form__description {
  width: 100%;
  margin-bottom: 1rem;
}
.review-form__submit-btn {
  margin: 0.1rem 0.1rem 0.1rem 0.1rem;
  width: fit-content;
  background-color: #D2B85A;
  color: white;
  box-shadow: 0 0 1px black;
  border: solid white 1px;
  border-radius: 10px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 1rem;
  font-weight: 500;
}
.review-form__delete-btn {
  margin: 0.1rem 0.1rem 0.1rem 0.1rem;
  width: fit-content;
  background-color: red;
  color: white;
  box-shadow: 0 0 1px black;
  border: solid white 1px;
  border-radius: 10px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 1rem;
  font-weight: 500;
}

/*# sourceMappingURL=reviews.css.map */
