@use "./global/breakpoints" as *;
@use "./global/grid";
@use "./global/colors" as *;
@use "./components/app-drawer.scss";
@use "./components/footer.scss";
@use "./components/listing-card.scss";
@use "./pages/gym.scss";
@use "./pages/not-found.scss";

// "xs": 0,
// "sm": 480px,
// "md": 720px,
// "lg": 960px,
// "xl": 1200px

header {
  position: relative;
}

button {
  all: unset;

  &:hover {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
  color: inherit;

  &:visited,
  &:active,
  &:link {
    color: inherit;
  }

  &:hover {
    cursor: pointer;
  }
}

#root {
  height: 100%;
  background-image: url(./images/colloseum_color.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: scroll;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
}


.home-container,
.listings-container {
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.4rem 1rem;
  color: white;

  .menu-button {
    font-size: 3rem;
    color: $primary;
    margin-top: .23em;
    text-shadow: 1px 1px 1px black;

    @include md {
      font-size: 3rem;
    }
  }

  &__title {
    font-family: 'Oswald', sans-serif;
    font-size: 3.5rem;
    color: white;
    text-shadow: 0 4px 4px black;

    a {
      color: white;
    }

    @include md {
      font-size: 4rem;
      width: fit-content;
      margin-left: 1.5em;
    }

    @include lg {
      font-size: 6rem;
      margin-left: 1em;
    }
  }

  &__sign-in {
    display: none;

    @include md {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 3rem;
      border-radius: 6px;

      background-color: $primary;
      color: white;
      font-family: 'Oswald', sans-serif;
      font-size: 1.5rem;
      font-weight: 500;
      text-shadow: 0 0 2px black;
    }
  }
}

.home-main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .home-search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12rem;
    border-radius: 14px;
    padding: 0.25em 0.5em;

    background-color: $primary;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    text-shadow: 0 0 2px black;

    @include sm {
      margin-bottom: 8rem;
    }

    @include md {
      font-size: 2.5rem;
    }
  }
}
