@use "./global/breakpoints" as *;
@use "./global/colors" as *;
@use "./components/header.scss";
@use "./components/app-drawer.scss";
@use "./components/footer.scss";
@use "./pages/home-page.scss";
@use "./pages/listings-page.scss";
@use "./components/listing-card.scss";
@use "./pages/gym.scss";
@use "./pages/not-found.scss";
@use "./pages/create-listing.scss";
@use "./pages/edit-listing.scss";
@use "./pages/sign-in.scss";
@use "./pages/account-page.scss";
@use "./components/reviews.scss";
@use "./components/filter.scss";
// "xs": 0,
// "sm": 480px,
// "md": 720px,
// "lg": 960px,
// "xl": 1200px

button {
  all: unset;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
  color: inherit;

  &:visited,
  &:active,
  &:link {
    color: inherit;
  }

  &:hover {
    cursor: pointer;
  }
}

textarea {
  resize: none;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

#root {
  flex: 1;
  // background-image: url(./images/colloseum_color.jpg);
  background-color: #FEFDFB;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.main-container {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  overflow-y: auto;
}
