@use "./global/breakpoints" as *;
@use "./global/colors" as *;
@use "./components/header.scss";
@use "./components/app-drawer.scss";
@use "./components/footer.scss";
@use "./pages/listings-page.scss";
@use "./components/listing-card.scss";
@use "./pages/gym.scss";
@use "./pages/not-found.scss";
@use "./pages/create-listing.scss";
@use "./pages/edit-listing.scss";

// "xs": 0,
// "sm": 480px,
// "md": 720px,
// "lg": 960px,
// "xl": 1200px


header {
  position: sticky;
}

button {
  all: unset;

  &:hover {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
  color: inherit;

  &:visited,
  &:active,
  &:link {
    color: inherit;
  }

  &:hover {
    cursor: pointer;
  }
}

#root {
  height: 100vh;
  background-image: url(./images/colloseum_color.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow-y: auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.home-container {
  height: 100%;
}

.home-main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .home-search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12rem;
    border-radius: 14px;
    padding: 0.25em 0.5em;

    background-color: $primary;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    text-shadow: 0 0 2px black;

    @include sm {
      margin-bottom: 8rem;
    }

    @include md {
      font-size: 2.5rem;
    }
  }
}
