.gym-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: fit-content;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.5);
}
@media (min-width: 720px) {
  .gym-main {
    align-self: center;
    justify-content: center;
    max-width: 1600px;
  }
}
.gym-main .gym-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
}
@media (min-width: 960px) {
  .gym-main .gym-info-container {
    flex-direction: row;
    margin-bottom: 1rem;
  }
}
.gym-main .gym-info-container .gym-image-container {
  width: 100%;
  height: 300px;
  border: solid #D2B85A 3px;
  border-radius: 18px;
}
@media (min-width: 960px) {
  .gym-main .gym-info-container .gym-image-container {
    max-height: 500px;
    height: 500px;
    width: 40%;
  }
}
.gym-main .gym-info-container .gym-image-container .gym-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 15px;
}
.gym-main .gym-info-container .gym-details-map-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  min-height: fit-content;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  border: solid #D2B85A 3px;
}
@media (min-width: 960px) {
  .gym-main .gym-info-container .gym-details-map-container {
    margin-left: 1rem;
    margin-bottom: 0;
  }
}
.gym-main .gym-info-container .gym-details-map-container .gym-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 960px) {
  .gym-main .gym-info-container .gym-details-map-container .gym-details {
    height: 50%;
    margin-top: 0;
  }
}
.gym-main .gym-info-container .gym-details-map-container .gym-details .gym-title {
  color: black;
  font-size: 2em;
  text-align: center;
}
.gym-main .gym-info-container .gym-details-map-container .gym-details .gym-body {
  margin-top: 1em;
}
.gym-main .gym-info-container .gym-details-map-container .map-container {
  height: 150px;
  width: 100%;
}
@media (min-width: 960px) {
  .gym-main .gym-info-container .gym-details-map-container .map-container {
    height: 40%;
  }
}

.gym-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (min-width: 960px) {
  .gym-buttons-container {
    justify-content: flex-end;
  }
}
.gym-buttons-container .gym-edit-btn {
  margin: 1rem 0.1rem 1rem 0.1rem;
  width: fit-content;
  background-color: #D2B85A;
  color: white;
  box-shadow: 0 0 1px black;
  border: solid white 1px;
  border-radius: 15px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 1.25rem;
  font-weight: 500;
}
.gym-buttons-container .gym-delete-btn {
  margin: 1rem 0.1rem 1rem 0.1rem;
  width: fit-content;
  background-color: red;
  color: white;
  box-shadow: 0 0 1px black;
  border: solid white 1px;
  border-radius: 15px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 1.25rem;
  font-weight: 500;
}

/*# sourceMappingURL=gym.css.map */
