@use "../global/colors" as *;
@use "../global/breakpoints" as *;

// "xs": 0,
// "sm": 480px,
// "md": 720px,
// "lg": 960px,
// "xl": 1200px

.create__main {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  padding-top: 1rem;
  margin-top: 1rem;
  margin-bottom: 2em;
}

.create__form {
  display: flex;
  flex-direction: column;

  height: 100%;
  max-height: fit-content;
  padding: 1em;
  margin: 1em;

  background-color: $bg-secondary;
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  overflow-y: auto;

  @include md {
    width: 100%;
    max-width: 800px;
  }

  &__text-inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    @include md {
      width: 100%;
    }

    .text-inputs__name-label,
    .text-inputs__address-label,
    .text-inputs__description-label {
      font-weight: 600;
    }

    .text-inputs__name-input,
    .text-inputs__address-input {
      margin-bottom: 1em;
    }
  }

  &__specialization {
    min-height: 150px;
    margin-bottom: 1em;
    border: 0;
    overflow-y: auto;

    @include md {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .specialization__legend {
      font-weight: 600;
    }

    .specialization__checkbox-option {
      .checkbox-option__label {
        margin-left: 0.5em;
      }

      .checkbox-option__input,
      .checkbox-option__label {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .upload-submit-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include md {
      align-items: center;
    }

    label {
      display: block;
      font-weight: 600;
    }

    input::file-selector-button {
      margin: 0.25em .5em 0.25em 0.1em;

      background-color: $primary;
      color: white;

      box-shadow: 0 0 1px black;
      border: solid white 1px;
      border-radius: 15px;
      padding-left: 1em;
      padding-right: 1em;
      padding-top: 0.25em;
      padding-bottom: 0.25em;
    }
  }

  &__submit-btn {
    align-self: center;
    text-align: center;
    margin: 1em .5em 0.25em 0.1em;
    width: 85px;

    background-color: $primary;
    color: white;
    box-shadow: 0 0 1px black;
    border: solid white 1px;
    border-radius: 15px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }
}
