@use "../global/breakpoints" as *;
@use "../global/colors" as *;

.edit-img__container {
  width: 100%;
  display: flex;
  flex-direction: column;


  .upload__container {
    display: flex;
    flex-direction: column;

    &__input::file-selector-button {
      margin: 0.25rem .5rem 0.25rem 0.1rem;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;

      box-shadow: 0 0 1px black;
      border: solid white 1px;
      border-radius: 15px;

      background-color: $primary;
      color: white;
      cursor: pointer;

      &:hover {
        background-color: $secondary;
        scale: 1.01;
      }
    }
  }

  &__figure {
    display: flex;
    flex-direction: column;
    align-items: center;

    .figure__caption {
      font-weight: bold;
    }

    .figure__preview {
      max-height: 150px;

      @include md {
        max-height: 200px;
      }

      @include xl {
        max-height: 250px;
      }
    }
  }
}
