@use "../global/breakpoints" as *;

.edit-img-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include md {
    flex-direction: row;
    justify-content: center;
  }

  .edit-img-input {
    margin-bottom: 1rem;
    margin-left: -2rem;

    @include sm {
      margin-left: 0rem;
    }
  }

  figure {
    text-align: center;

    .edit-img-caption {
      font-weight: bold;
    }

    .edit-img-preview {
      max-height: 150px;

      @include md {
        max-height: 200px;
      }

      @include xl {
        max-height: 250px;
      }
    }
  }
}
