@use "../global/colors" as *;
@use "../global/breakpoints" as *;
// "xs": 0,
// "sm": 480px,
// "md": 720px,
// "lg": 960px,
// "xl": 1200px

.gym-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  padding: 1em;
  background-color: rgba(255, 255, 255, 0.5);

  @include md {
    align-self: center;
    justify-content: center;
    max-width: 1600px;
  }

  .gym-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;

    @include lg {
      flex-direction: row;
      margin-bottom: 1rem;
    }

    .gym-image-container {
      width: 100%;
      height: 300px;
      border: solid $primary 3px;
      border-radius: 18px;

      @include lg {
        max-height: 500px;
        height: 500px;
        width: 40%;
      }

      .gym-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        border-radius: 15px;
      }
    }

    .gym-details {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1em;
      margin-bottom: 1em;
      padding: 1em;
      border-radius: 15px;
      border: solid $primary 3px;

      width: 100%;
      height: fit-content;
      background-color: rgba(255, 255, 255, 0.9);

      @include lg {
        margin: 0 0 0 1em;
        height: 500px;
        width: 60%;
      }

      .gym-title {
        color: black;
        font-size: 2em;
        text-align: center;
      }

      .gym-body {
        margin-top: 1em;
      }
    }
  }
}

.gym-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include lg {
    justify-content: flex-end;
  }

  .gym-edit-btn {
    margin: 1rem 0.1rem 1rem 0.1rem;
    width: fit-content;

    background-color: $primary;
    color: white;
    box-shadow: 0 0 1px black;
    border: solid white 1px;
    border-radius: 15px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;

    font-size: 1.25rem;
    font-weight: 500;
  }

  .gym-delete-btn {
    margin: 1rem 0.1rem 1rem 0.1rem;
    width: fit-content;

    background-color: red;
    color: white;
    box-shadow: 0 0 1px black;
    border: solid white 1px;
    border-radius: 15px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;

    font-size: 1.25rem;
    font-weight: 500;
  }

}
