@use "../global/breakpoints" as *;
@use "../global/colors" as *;
// "xs": 0,
// "sm": 480px,
// "md": 720px,
// "lg": 960px,
// "xl": 1200px

.home {
  &__container {
    height: 100%;
  }

  &__main {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__hero {
    height: 50%;

    background-image: url(./images/colosseum_color.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &__welcome-section {
    display: flex;
    flex-direction: column;

    height: 50%;
    width: 100%;
    padding: 1rem;

    background-color: $bg-main;

    @include md {
      height: 100%;
      width: 60%;
    }

    &__description {
      color: #0f0d09;

      &__title {
        margin-bottom: 1rem;
        font-size: 36px;
        font-weight: 800;
        @include md {
          font-size: 60px;
        }
      }

      &__text {
        margin-bottom: 1rem;
        font-size: 20px;
        @include md {
          font-size: 36px;
        }
      }
    }
  }

  &__find-btn {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    padding: 0.25em 0.5em;
    width: fit-content;
    height: fit-content;

    background-color: $primary;
    color: white !important;
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    font-weight: 500;
    text-shadow: 0 0 2px black;
    box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, 0.25);

    &:hover {
      transition-duration: 250ms;
      background-color: $secondary;
    }

    @include sm {
      margin-bottom: 8rem;
    }

    @include md {
      font-size: 2.5rem;
    }
  }
}
