@use "../global/breakpoints" as *;
@use "../global/colors" as *;
// "xs": 0,
// "sm": 480px,
// "md": 720px,
// "lg": 960px,
// "xl": 1200px

.home {
  &__container {
    height: 100%;
  }

  &__main {
    height: 100%;
    display: flex;
    flex-direction: column;

    @include lg {
      flex-direction: row-reverse;
    }
  }

  &__hero {
    height: 30%;

    background-image: url(./images/colosseum_color.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    @include lg {
      height: 100%;
      width: 40%;
    }
  }

  &__welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 70%;
    width: 100%;
    padding: 2rem;

    background-color: $bg-main;

    @include lg {
      height: 100%;
      width: 60%;
      padding: 0 7rem 0 7rem;
    }

    &__description {
      color: #0f0d09;

      &__title {
        margin-bottom: 1rem;
        font-size: 36px;
        font-weight: 800;

        @include md {
          font-size: 60px;
        }

        @include xl {
          font-size: 72px;
        }
      }

      &__text {
        margin-bottom: 1rem;
        font-size: 22px;

        @include md {
          font-size: 24px;
        }
      }

      &__list {
        margin-bottom: 1rem;
        list-style: none;
        font-size: 18px;

        .fa-circle-chevron-right {
          margin-right: 0.5rem;
          font-size: 20px;
          color: $primary;
        }
      }
    }
  }

  &__find-btn {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    padding: 0.75rem 1rem;
    width: fit-content;
    height: fit-content;

    background-color: $primary;
    color: white !important;
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    font-weight: 500;
    text-shadow: 0 0 2px black;

    &:hover {
      transition-duration: 250ms;
      background-color: $secondary;
    }

    @include lg {
      align-self: initial;
    }
  }
}
