@use "../global/colors" as *;
@use "../global/breakpoints" as *;
// "xs": 0,
// "sm": 480px,
// "md": 720px,
// "lg": 960px,
// "xl": 1200px

.listings-main {
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 780px;
  height: 100%;
  margin-top: 0.5rem;

  padding-left: 1rem;
  padding-right: 1rem;
}

.listings-add-btn {
  align-self: flex-end;
  margin: 1rem 0.1rem 1rem 0.1rem;
  width: fit-content;

  background-color: $primary;
  color: white !important;
  box-shadow: 0 0 1px black;
  border: solid white 1px;
  border-radius: 15px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;

  font-size: 1.25rem;
  font-weight: 500;
}
