.row {
  display: flex;
  flex-flow: row wrap;
}

@media (min-width: 480px) {
  .col-1-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
    color: green;
  }
  .col-2-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
    color: green;
  }
  .col-3-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
    color: green;
  }
  .col-4-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
    color: green;
  }
  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
    color: green;
  }
  .col-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
    color: green;
  }
  .col-7-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
    color: green;
  }
  .col-8-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
    color: green;
  }
  .col-9-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
    color: green;
  }
  .col-10-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
    color: green;
  }
  .col-11-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
    color: green;
  }
  .col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
    color: green;
  }
}
@media (min-width: 720px) {
  .col-1-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
    color: green;
  }
  .col-2-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
    color: green;
  }
  .col-3-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
    color: green;
  }
  .col-4-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
    color: green;
  }
  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
    color: green;
  }
  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
    color: green;
  }
  .col-7-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
    color: green;
  }
  .col-8-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
    color: green;
  }
  .col-9-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
    color: green;
  }
  .col-10-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
    color: green;
  }
  .col-11-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
    color: green;
  }
  .col-12-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
    color: green;
  }
}
.app-drawer {
  display: flex;
  width: 100%;
  position: fixed;
}
.app-drawer--hidden {
  display: none;
}
.app-drawer .menu {
  background-color: rgba(0, 0, 0, 0.97);
  width: 100%;
  height: 100vh;
  flex-grow: 2;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 720px) {
  .app-drawer .menu {
    max-width: 35%;
  }
}
@media (min-width: 1200px) {
  .app-drawer .menu {
    max-width: 25%;
  }
}
.app-drawer .menu .close-button {
  cursor: pointer;
  font-size: 4rem;
  color: #D2B85A;
  margin-top: 0.6rem;
  text-shadow: 1px 1px 1px black;
}
@media (min-width: 720px) {
  .app-drawer .menu .close-button {
    font-size: 4rem;
    margin-top: 1.27rem;
  }
}
.app-drawer .menu__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 100%;
  margin-top: 3em;
  padding-left: 3rem;
  padding-right: 3rem;
  font-family: "Oswald", sans-serif;
}
.app-drawer .menu__nav ul {
  border-top: solid white 1px;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 2em;
  text-align: center;
}
.app-drawer .menu__nav ul:last-child {
  border-bottom: solid white 1px;
}
@media (min-width: 720px) {
  .app-drawer .drawer-overlay {
    height: 100vh;
    flex-grow: 1;
  }
}

footer {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.15);
  color: white;
}

.listings-container {
  height: 100%;
}

.listings-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  margin-top: 2rem;
}

.card-anchor {
  display: flex;
  justify-content: center;
  width: 90%;
  height: fit-content;
  max-height: 200px;
  margin-bottom: 1rem;
}

.card {
  display: flex;
  align-items: center;
  background-color: white;
  border: solid 5px #D2B85A;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  padding: 1em;
}
@media (min-width: 480px) {
  .card {
    width: 75%;
  }
}
.card-image {
  object-fit: cover;
  height: 100px;
  width: 100px;
  border-radius: 15px;
}
.card-body {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
}
@media (min-width: 720px) {
  .card-body {
    margin-left: 6rem;
  }
}
@media (min-width: 960px) {
  .card-body {
    margin-left: 8rem;
  }
}
@media (min-width: 1200px) {
  .card-body {
    margin-left: 10rem;
  }
}
.card-title {
  color: black;
  font-size: 1.5em;
}
.card-address {
  margin-bottom: 0.25rem;
}

.gym-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1em;
  overflow-y: scroll;
}
@media (min-width: 960px) {
  .gym-main {
    flex-direction: row;
    align-items: flex-start;
  }
}

.gym-image {
  width: 95%;
  max-height: 300px;
  border: solid #D2B85A 3px;
  border-radius: 18px;
}
@media (min-width: 960px) {
  .gym-image {
    max-height: 500px;
    height: 500px;
    width: 40%;
  }
}
.gym-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 15px;
}

.gym-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 15px;
  border: solid #D2B85A 3px;
  width: 95%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}
@media (min-width: 960px) {
  .gym-details {
    margin: 0 0 0 1em;
    height: 500px;
    width: 60%;
  }
}
.gym-details .gym-title {
  color: black;
  font-size: 2em;
}
.gym-details .gym-body {
  margin-top: 1em;
}

.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.create-main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-form {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: 1em;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
}
@media (min-width: 720px) {
  .create-form {
    width: 90%;
    height: 80%;
  }
}
.create-form .text-inputs {
  display: flex;
  flex-direction: column;
}
@media (min-width: 720px) {
  .create-form .text-inputs {
    width: 100%;
  }
}
.create-form .text-inputs .name-label,
.create-form .text-inputs .address-label {
  font-weight: 600;
  margin-left: 0.15em;
}
.create-form .text-inputs .name-input,
.create-form .text-inputs .address-input {
  margin-bottom: 1em;
}
.create-form .specialization-fieldset {
  margin-top: 2em;
  margin-bottom: 1em;
  border: 0;
  overflow-y: auto;
}
@media (min-width: 720px) {
  .create-form .specialization-fieldset {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    width: 100%;
  }
}
.create-form .specialization-fieldset legend {
  font-weight: 600;
}
.create-form .upload-submit-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 720px) {
  .create-form .upload-submit-container {
    align-items: center;
  }
}
.create-form .upload-submit-container label {
  display: block;
  font-weight: 600;
}
.create-form .upload-submit-container input::file-selector-button {
  margin: 0.25em 0.5em 0.25em 0.1em;
  background-color: #D2B85A;
  color: white;
  box-shadow: 0 0 1px black;
  border: solid white 1px;
  border-radius: 15px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
.create-form .upload-submit-container .submit-button {
  align-self: center;
  text-align: center;
  margin: 1em 0.5em 0.25em 0.1em;
  width: 85px;
  background-color: #D2B85A;
  color: white;
  box-shadow: 0 0 1px black;
  border: solid white 1px;
  border-radius: 15px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.checkbox-option label {
  margin-left: 0.5em;
}

header {
  position: sticky;
}

button {
  all: unset;
}
button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
a:visited, a:active, a:link {
  color: inherit;
}
a:hover {
  cursor: pointer;
}

#root {
  height: 100%;
  background-image: url(./images/colloseum_color.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.home-container {
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.4rem 1rem;
  color: white;
}
.header .menu-button {
  font-size: 3rem;
  color: #D2B85A;
  margin-top: 0.23em;
  text-shadow: 1px 1px 1px black;
}
@media (min-width: 720px) {
  .header .menu-button {
    font-size: 3rem;
  }
}
.header__title {
  font-family: "Oswald", sans-serif;
  font-size: 3.5rem;
  color: white;
  text-shadow: 0 4px 4px black;
}
.header__title a {
  color: white;
}
@media (min-width: 720px) {
  .header__title {
    font-size: 3rem;
    width: fit-content;
    margin-left: 1.5em;
  }
}
@media (min-width: 960px) {
  .header__title {
    font-size: 5rem;
    margin-left: 1em;
  }
}
.header__sign-in {
  display: none;
}
@media (min-width: 720px) {
  .header__sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 3rem;
    border-radius: 6px;
    background-color: #D2B85A;
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    text-shadow: 0 0 2px black;
  }
}

.home-main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-main .home-search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12rem;
  border-radius: 14px;
  padding: 0.25em 0.5em;
  background-color: #D2B85A;
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  text-shadow: 0 0 2px black;
}
@media (min-width: 480px) {
  .home-main .home-search-btn {
    margin-bottom: 8rem;
  }
}
@media (min-width: 720px) {
  .home-main .home-search-btn {
    font-size: 2.5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
