.row {
  display: flex;
  flex-flow: row wrap;
}

@media (min-width: 480px) {
  .col-1-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
    color: green;
  }
  .col-2-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
    color: green;
  }
  .col-3-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
    color: green;
  }
  .col-4-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
    color: green;
  }
  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
    color: green;
  }
  .col-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
    color: green;
  }
  .col-7-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
    color: green;
  }
  .col-8-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
    color: green;
  }
  .col-9-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
    color: green;
  }
  .col-10-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
    color: green;
  }
  .col-11-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
    color: green;
  }
  .col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
    color: green;
  }
}
@media (min-width: 720px) {
  .col-1-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
    color: green;
  }
  .col-2-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
    color: green;
  }
  .col-3-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
    color: green;
  }
  .col-4-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
    color: green;
  }
  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
    color: green;
  }
  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
    color: green;
  }
  .col-7-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
    color: green;
  }
  .col-8-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
    color: green;
  }
  .col-9-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
    color: green;
  }
  .col-10-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
    color: green;
  }
  .col-11-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
    color: green;
  }
  .col-12-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
    color: green;
  }
}
.app-drawer {
  display: flex;
  width: 100%;
  position: fixed;
}
.app-drawer--hidden {
  display: none;
}
.app-drawer .menu {
  background-color: rgba(0, 0, 0, 0.95);
  width: 100%;
  height: 100vh;
  flex-grow: 2;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 720px) {
  .app-drawer .menu {
    max-width: 35%;
  }
}
.app-drawer .menu .close-button {
  cursor: pointer;
  font-size: 4rem;
  color: #D2B85A;
  margin-top: 0.6rem;
  text-shadow: 1px 1px 1px black;
}
@media (min-width: 720px) {
  .app-drawer .menu .close-button {
    font-size: 4rem;
    margin-top: 1.27rem;
  }
}
.app-drawer .menu__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 100%;
  margin-top: 3em;
  padding-left: 3rem;
  padding-right: 3rem;
  font-family: "Oswald", sans-serif;
}
.app-drawer .menu__nav ul {
  border-top: white solid 1px;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 2.5em;
  text-align: center;
}
@media (min-width: 720px) {
  .app-drawer .drawer-tint {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.05);
    flex-grow: 1;
  }
}

header {
  position: relative;
}

button {
  all: unset;
}
button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
a:hover {
  cursor: pointer;
}

.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url(./images/colloseum_color.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.4rem 1rem;
  color: white;
}
.header .menu-button {
  font-size: 3rem;
  color: #D2B85A;
  margin-top: 0.23em;
  text-shadow: 1px 1px 1px black;
}
@media (min-width: 720px) {
  .header .menu-button {
    font-size: 3rem;
  }
}
.header__title {
  font-family: "Oswald", sans-serif;
  font-size: 3.5rem;
  color: white;
  text-shadow: 0 4px 4px black;
}
@media (min-width: 720px) {
  .header__title {
    font-size: 4rem;
    width: fit-content;
    margin-left: 1.5em;
  }
}
@media (min-width: 960px) {
  .header__title {
    font-size: 5rem;
    margin-left: 1em;
  }
}
.header__sign-in {
  display: none;
}
@media (min-width: 720px) {
  .header__sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 3rem;
    border-radius: 6px;
    background-color: #D2B85A;
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    text-shadow: 0 0 2px black;
  }
}

.home-main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-main .home-search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12rem;
  border-radius: 14px;
  padding: 0.25em 0.5em;
  background-color: #D2B85A;
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  text-shadow: 0 0 2px black;
}
@media (min-width: 480px) {
  .home-main .home-search-btn {
    margin-bottom: 8rem;
  }
}
@media (min-width: 720px) {
  .home-main .home-search-btn {
    font-size: 2.5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
