@use "../global/breakpoints" as *;
@use "../global/colors" as *;

header {
  position: sticky;
  top: 0;
  z-index: 4;
  background-color: black;
  border-bottom: 2px solid $primary;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 0.4rem 1rem;
  color: white;

  .menu-button {
    font-size: 3rem;
    color: $primary;
    margin-top: .23em;
    text-shadow: 1px 1px 1px black;

    &:hover {
      transition-duration: 250ms;
      color: $secondary;
    }

    @include md {
      font-size: 3rem;
    }
  }

  &__title {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    color: white;
    text-shadow: 0 4px 4px black;

    a {
      color: white;
    }

    @include lg {
      font-size: 4rem;
      margin-left: 1em;
    }
  }

  &__sign-in-btn {
    display: none;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 42px;
    border-radius: 5px;

    background-color: $primary;
    color: white;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    text-shadow: 0 0 2px black;

    &:hover {
      transition-duration: 250ms;
      background-color: $secondary;
      scale: 1.01;
    }

    @include md {
      display: flex;
      font-size: 20px;
    }
  }
}
