@use "../global/colors" as *;
@use "../global/breakpoints" as *;

// "xs": 0,
// "sm": 480px,
// "md": 720px,
// "lg": 960px,
// "xl": 1200px

.card-anchor {
  display: flex;
  justify-content: center;
  width: 325px;
  height: 325px;
  margin-bottom: 1rem;

  @include sm {
    margin-bottom: 0;
  }
}

.card {
  display: flex;
  flex-direction: column;

  background-color: white;
  box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, 0.25);
  transition-duration: 0.25s;

  border-radius: 15px;
  height: 100%;
  width: 100%;

  &:hover {
    scale: 1.01;
    box-shadow: 1px 2px 3px 6px rgba(210, 184, 90, 0.5);
  }

  @include sm {
    width: 100%;
  }

  &-image {
    object-fit: cover;
    height: 60%;
    width: 100%;
    border-radius: 15px 15px 0 0;
  }

  &-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    text-align: center;

    padding: 0.75rem;
  }

  &-title {
    color: black;
    font-size: 1.5em;
  }

  &-address {
    margin-bottom: 0.25rem;
  }
}
